.inputfield {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #555;
    border-radius: 4px;
}

/* Apply styles to the container div */
div {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Style labels */
label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

/* Style text inputs */
input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Style the Save Region button */
#pbPostRegion {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

#pbPostRegion:hover {
    background-color: #0056b3;
}

.btn1 {
background-color: #007bff;
color: #fff;
padding: 10px 20px;
border: none;
border-radius: 3px;
cursor: pointer;
font-weight: bold;
}

.btn1:hover {
    background-color: #0056b3;
}

